@charset "utf-8";
/* CSS Document */

#contenedor{
	width:1200px;
	height:auto;
	margin:auto;
	position:relative;

}

body{
	background-image:url(../images/fondocuerpo.jpg);
	background-size:contain;
}

header{
	width:1200px;
	height:120px;
	border-style:solid;
	border-color:#FFF;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-bottom:10px;
	margin-top:10px;
	
}

h1{
	color:#FFF;
	text-align:center;
	font-size:24px;
}

h2{
	color:#FFF;
	text-align:center;
	font-size:18px;
}

nav{
	width:1200px;
	height:140px;
	background-color:#FFF;
	border-color:#FC0;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-top:10px;
	margin-bottom:30px;

}

ul{

	padding-top:5 px;
	text-align:center;
	margin-left:230px;


}

li{

	float:left;
	list-style-type:none;
	margin:8px;
}

a{
	text-decoration:none;
	font-size:30px;
}


.menu:link{color:#039; text-decoration:none}
.menu:visited{color:#039; text-decoration:none; background:#FFF}
.menu:hover{color:#039; text-decoration:none; background:#FC0}
.menu:active{color:#FFF; text-decoration:none; background:#039}

section{
	width:600px;
	font-weight:780px;
	float:left;
	border-style:solid;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-left:20px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:80px;

}

aside{
	font-weight:450px;
	width:600;
	height:800px;
	border-style:solid;
	border-color:#FFF;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:10px;
}

footer{
	font-weight:1000px;
	height:100px;
	float:none;
	border-style:solid;
	border-color:#FFF;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-bottom:20px;
	color:#FFF
}
.autor{
	float:inherit;
	width:900px;
	height:auto;
	color:#FFF;